<section>
  <h1>Sobre mim</h1>
  <p><img src="http://www.marcelocavalcante.net/imgs/kalib_picture_pq.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"><p align=left><b>M</b>e chamo Marcelo Cavalcante Rocha, também conhecido como Kalib, e sou militante do Software Livre desde 2005. 
Trabalho com administração de redes, sistemas e segurança da informação em ambientes mistos. 
Gosto de ler, surfar, ouvir música e assistir um bom filme. 
Me conheça melhor <a href="http://blog.marcelocavalcante.net/about">clicando aqui</a>.</p></p>
</section>
