<Section>
  <h1>Timeline</h1>
  <img align="center" src="/imgs/brazil-canada-flag2.png"><br><br>
  <p><img src="/imgs/yellow_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 11/2015 - Landing in Toronto</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 05/2015 - Passaportes recebidos</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 05/2015 - Vistos emitidos</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 04/2015 - Passaportes solicitados</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 03/2015 - Exames Médicos feitos</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 01/2015 - PER Recebido</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 12/2014 - Cartão de Crédito cobrado</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 09/2014 - Envio de aplicação</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 08/2014 - Preenchimento de Formulários</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 08/2014 - Caça aos documentos necessários</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 07/2014 - Exames de Proficiência - Inglês (IELTS)</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 06/2014 - Equivalência de Diploma (WES)</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 05/2014 - 1 mês de aulas focadas no exame IELTS (Inglês)</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 07/2013 - Início de estudos(Francês)</p>
</section>

