<Section>
  <h1>Timeline</h1>
  <img align="center" src="/imgs/brazil-canada-flag2.png"><br><br>
  <p><img src="/imgs/yellow_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 06/2014 - Exames de Proficiência - Inglês (IELTS)</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 05/2014 - Envio de documentos acadêmicos (WES)</p>
  <p><img src="/imgs/yellow_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 05/2014 - Caça aos documentos necessários</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 05/2014 - 1 mês de aulas focadas no exame IELTS (Inglês)</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> 07/2013 - Início de estudos (Francês)</p>
  <p><img src="/imgs/green_maple.png" style="float: left; margin-right: 2px; margin-bottom: 2px;"> XX/XXXX - Decisão pelo processo de emigração</p>
</section>

